nav {
    background-color: none;
    color: #fff;
    justify-content: space-between;
}

nav ul {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
}

nav li {
    align-items: flex-end;
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: lightblue;
    text-decoration: none;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


/* a minimalist set of CSS resets */


/* default to border-box */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* adjust typography defaults */

body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
}


/* images and videos max out at full width */

img,
video {
    height: auto;
    max-width: 100%;
}

:root {
    --my_white: #f8f5f5;
    --my_black: #000000;
    --my_light_grey: rgba(255, 255, 255, 0.6);
    --my_dark_grey: rgba(169, 169, 169, 0.6);
}

header {
    size-adjust: 100%;
}

.navbar-brand {
    color: var(--my_white);
}

.my-white {
    color: var(--my_white);
}

.my-black {
    color: var(--my_black);
}

.my-light-white-bg {
    background-color: var(--my_light_grey);
}

.my-dark-white-bg {
    background-color: var(--my_dark_grey);
}

.bg-image {
    background-image: url("/bg/01d.jpg") no-repeat center center fixed;
    background-size: cover !important;
}

.cnx a {
    color: white;
    text-decoration:none; 
    font-weight: 650;
}
.btn-outline-light:hover .bxs-bookmark-star {
    text-decoration: none;
    border: solid 1px rgb(155, 155, 155);
    background-color: rgb(155, 155, 155);
}

.research{
    border-top-right-radius: 5px;
}

.text-small {
    font-size: small;
}

#carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16"><path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/></svg>');
}

#carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16"><path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/></svg>');
}