* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("../../icons/bg-log.jpg") no-repeat center center fixed;
  background-size: cover !important;
}

.card-body{
    background-color: rgba(255,255,255,0.5);
}

.bx{
    margin-left: 20px;
}