/* a minimalist set of CSS resets */

/* default to border-box */
html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* adjust typography defaults */
body {
	margin: 1rem;
	font-family: sans-serif;
	line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
	height: auto;
	max-width: 100%;
}

:root {
	--my_white: #f8f5f5;
	--my_black: #000000;
	--my_light_grey: rgba(255, 255, 255, 0.6);
	--my_dark_grey: rgba(169, 169, 169, 0.6);
}

header {
	size-adjust: 100%;
}

.navbar-brand{
	color: var(--my_white);
}

.my-white {
	color: var(--my_white);
}

.my-black {
	color: var(--my_black);
}

.my-light-white-bg {
	background-color: var(--my_light_grey);
}

.my-dark-white-bg {
	background-color: var(--my_dark_grey);
}

.bg-image {
	background-image: url("../../icons/bg/01d.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-primary {
	background-color: lightgray;
	border-color: lightgray;
	color: var(--my_black);
}

.btn-outline-light:hover .bxs-bookmark-star{
	border: solid 3px rgb(155, 155, 155);
	background-color: rgb(155, 155, 155);
}

.modal{
    width: 300px;
}

.modal-content{
    width: 300px;
}

.list-group-item:hover{
    background-color: rgba(57, 202, 183, 0.781)!important;
}
