nav {
    background:linear-gradient( #6da4fc, rgb(248, 220, 169));
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header{
    border-radius: solid 5px;
    border-color: orange;
}


.PP{
    border-radius: solid 5px;
    border-color: rgba(192, 190, 190, 0.608);
    height: 250px;
}

.card-body{
    height: 330px;
}
.card-p{
    border-radius: solid 3px;
    border-color: rgba(192, 190, 190, 0.608);
    margin-left: 5px;
    margin-right: 5px;
}