.pbody {
    background: url("../images/bg-profile.png");
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

nav {
    /* background:linear-gradient( #6da4fc, rgb(248, 220, 169)); */
    background: linear-gradient( #0e0825, rgb(4, 4, 4), #263c52);
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

.link {
    color: #fff;
}

.link:hover {
    color: #829fff;
    text-decoration: none;
}

.avatar-ctn {
    text-align: center;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    background-color: #003cff;
}

#uploadedImage {
    width: 200px;
    height: 200px;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
    border-radius: solid 5px;
    border-color: #003cff;
}

.PP {
    border-radius: solid 5px;
    border-color: rgba(192, 190, 190, 0.608);
}

.card-body {
    height: 250px;
}

.card-p {
    margin: 0;
    padding: 0;
    width: 220px;
}

.infos {
    display: flex;
    text-align: center;
}

.aucun {
    background-color: rgb(93, 169, 255);
}

.socialM {
    margin-top: 100px;
}

.S {
    margin-top: 120px;
}