* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("images/bg-log.jpg") no-repeat center center fixed;
    background-size: cover !important;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.5);
}

.bx {
    margin-left: 20px;
}

.bg-images {
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
  }

a {
    text-decoration: none;
    color: var(--my_black);
}

a:hover {
    text-decoration: none;
    color: var(--my_black);
}

.time-zone {
    font-size: 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    
  }

  #cnx{
      width: 120px;
  }
  #rs{
    width: 120px;
  }
  
  #time {
    color: black;
    position: relative;
    font-weight: 450;
    letter-spacing: 2px;
    border: 3px solid rgb(231, 157, 88) ;
    border-width: 2px;
    border-radius: 10px;
    border-left: 3px;
    border-right: 3px;
  }

  #rememberMe{
    font-weight: 650;
  }
  